<!DOCTYPE html>

{% load static %}


<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>MyTube</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" type="image/x-icon" href="{% static 'favicon/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body class="bg-gray-100">

    <nav class="bg-white shadow p-4 flex justify-between items-center">

        <!-- Search -->
        <div class="flex items-center space-x-4">
            <a class="text-2xl font-bold text-red-600" href="{% url 'content:home' %}">MyTube</a>
            <input id="searchInput" type="text" data-base-url="{% url 'content:home' %}" placeholder="Search"
                value="{{ request.GET.search }}" class="border rounded px-2 py-1">
        </div>

        <!-- Button -->
        <div>
            {% if request.user.is_authenticated %}
            <a class="bg-red-600 text-white px-4 py-1 rounded"
                href="{% url 'account:profile' request.user.pk %}">Profile</a>
            {% else %}
            <a class="bg-red-600 text-white px-4 py-1 rounded" href="{% url 'account:login' %}">Sign In</a>
            {% endif %}
        </div>
    </nav>

    <!-- Content -->
    {% block content %} {% endblock %}

    <!-- Script -->
    <script src="{% static 'js/base.js' %}"></script>

</body>

</html>