{% extends 'base.html' %}


{% block content %}

{% include 'includes/sidebar.html' %}

<main class="flex-1 p-6">
    <div class="bg-white shadow rounded p-6 max-w-2xl mx-auto">
        {% include 'includes/breadcrumbs.html' %}
        <h2 class="text-2xl font-bold mb-4 text-gray-800">Upload a New Video</h2>

        <form method="POST" enctype="multipart/form-data" class="space-y-4">
            {% csrf_token %}
            <label class="block font-medium text-gray-700 mb-1">Video File</label>
            {{ form.file }}
            <label class="block font-medium text-gray-700 mb-1">Title</label>
            {{ form.title }}
            <label class="block font-medium text-gray-700 mb-1">Description</label>
            {{ form.description }}
            <label class="block font-medium text-gray-700 mb-1">Tags</label>
            {{ form.tags }}

            <div class="pt-4">
                <button type="submit" class="w-full bg-red-600 text-white py-2 rounded hover:bg-red-700 transition">
                    Upload Video
                </button>
            </div>

        </form>

    </div>
</main>
</div>
{% endblock %}