{% extends 'base.html' %}

{% load static %}


{% block content %}
<!-- Login / Registration Buttons -->
<div class="flex justify-center space-x-4 mt-6">
    <button id="signInBtn"
        class="bg-red-600 hover:bg-red-700 text-white font-medium px-6 py-2 rounded-lg shadow-md transition">
        Log in
    </button>
    <button id="signUpBtn"
        class="bg-gray-600 hover:bg-gray-700 text-white font-medium px-6 py-2 rounded-lg shadow-md transition">
        Registration
    </button>
</div>


<!-- Login -->
<div id="signInModal" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center hidden">
    <div class="bg-white p-6 rounded shadow w-96">
        <h2 class="text-xl font-bold mb-4">Login In</h2>
        <form method="post">
            {% csrf_token %}
            {{ login_form.as_p }}
            <button type="submit" class="w-full bg-red-600 text-white py-2 rounded" name="login_submit">Login
                In</button>
        </form>
        <button id="closeSignIn" class="mt-2 text-sm text-gray-500">Cancel</button>
    </div>
</div>

<!-- Registration -->
<div id="signUpModal" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center hidden">
    <div class="bg-white p-6 rounded shadow w-96">
        <h2 class="text-xl font-bold mb-4">Registration</h2>
        <form method="post">
            {% csrf_token %}

            {% for field in register_form %}
            <div>
                <!-- Label -->
                {{ field.label_tag }}

                <!-- Input -->
                {{ field }}

                <!-- Field errors -->
                {% if field.errors %}
                {% for error in field.errors %}
                <p class="text-red-400 text-sm">{{ error }}</p>
                {% endfor %}
                {% endif %}
            </div>
            {% endfor %}

            <button type="submit" class="w-full bg-gray-600 hover:bg-gray-700 text-white py-2 rounded"
                name="register_submit">
                Registration
            </button>
        </form>

        <button id="closeSignUp" class="mt-2 text-sm text-gray-500 hover:text-gray-700">Cancel</button>
    </div>
</div>

<!-- Error message -->
{% if messages %}
<div class="mb-4 space-y-2 m-4 ">
    {% for message in messages %}
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-2 rounded shadow-sm">
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}

<!-- Script -->
<script src="{% static 'js/account/authentication.js' %}"></script>
{% endblock %}