{% extends 'base.html' %}

{% load static %}


{% block content %}
<div class="flex mt-4">

    <!-- Navigation bar -->
    {% include 'includes/sidebar.html' %}

    <!-- Content -->
    <main class="flex-1 p-4">

        <!-- Breadcrumbs. -->
        {% include 'includes/breadcrumbs.html' %}

        <div class="bg-white shadow rounded p-6 mb-6 flex items-center space-x-6">

            <!-- Avatar -->
            <label for="avatar-input" class="cursor-pointer">
                <div class="w-24 h-24 bg-gray-300 rounded-full overflow-hidden flex items-center justify-center">
                    <img src="{{ request.user.get_avatar_url }}" alt="{{ request.user.username }}"
                        class="w-full h-full object-cover">
                </div>
            </label>

            <!-- Profile uer -->
            <div>
                <h2 class="text-2xl font-bold mb-4 text-gray-800">Profile</h2>
                <form method="post" enctype="multipart/form-data" id="userProfileForm">
                    {% csrf_token %}
                    {{ form.avatar }}
                    <p class="text-gray-1000">{{ form.first_name }} {{ form.last_name }}</p>
                    <p class="text-gray-600">@{{ form.username }}</p>
                    <p class="text-gray-500 mt-1">Country: {{ form.country }}</p>
                    <p class="text-gray-500">Age: {{ form.age }}</p>
                    <div class="pt-4">
                        <button type="submit"
                            class="w-full bg-red-600 text-white py-2 rounded hover:bg-red-700 transition">
                            Save
                        </button>
                    </div>
                </form>
            </div>
        </div>

    </main>

</div>

<!-- Script -->
<script src="{% static 'js/account/profile.js' %}"></script>
{% endblock %}