{% extends 'base.html' %}

{% load static %}


{% block content %}
<div class="flex mt-4">

    <!-- Navigation bar -->
    {% include 'includes/sidebar.html' %}

    <main class="flex-1 p-4 space-y-6">

        <!-- Breadcrumbs -->
        {% include 'includes/breadcrumbs.html' %}

        <div class="bg-white shadow rounded overflow-hidden">

            <!-- Banner -->
            <label for="banner-input" class="cursor-pointer">
                <img src="{{ request.user.channel.get_banner_url }}" alt="Banner" class="w-full h-48 object-cover">
            </label>

            <div class="flex items-center p-6 space-x-6">

                <!-- Avatar -->
                <label for="avatar-input" class="cursor-pointer">
                    <div
                        class="w-24 h-24 bg-gray-300 rounded-full flex items-center justify-center text-2xl text-white overflow-hidden">
                        <img src="{{ request.user.channel.get_avatar_url }}" alt="{{ request.user.channel.name }}"
                            class="w-full h-full object-cover rounded-full">
                    </div>
                </label>

                <!-- Profile channel -->
                <div class="flex-1">
                    <h2 class="text-2xl font-bold mb-4 text-gray-800">Channel</h2>
                    <form method="post" enctype="multipart/form-data" class="space-y-4" id="channelForm">
                        {% csrf_token %}
                        {{ form.avatar }}
                        {{ form.banner }}
                        {{ form.name }}

                        <div>
                            <button type="submit"
                                class="w-full bg-red-600 text-white py-2 rounded hover:bg-red-700 transition">
                                Save
                            </button>
                        </div>
                        <div>
                            <a href="{% url 'channel:delete_channel' %}"
                                class="w-full bg-blue-600 text-white py-2 rounded hover:bg-blue-700 transition">
                                delete
                            </a>
                        </div>

                    </form>
                </div>

            </div>
        </div>

        <!-- Video -->
        <section>
            <h2 class="text-xl font-bold mb-4">Your Videos</h2>
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
                {% for video in request.user.channel.videos.all %}

                <!-- Card video -->
                <a href="{{ video.file.url }}">
                    <div class="bg-white shadow rounded overflow-hidden hover:shadow-lg transition">
                        <div class="relative">
                            <img src="{{ video.thumbnail_url }}" alt="{{ video.title }}"
                                class="w-full h-48 object-cover">
                        </div>
                        <div class="p-2">
                            <h3 class="font-semibold text-sm">{{ video.title }}</h3>
                            <p class="text-xs text-gray-600">{{ video.views }} views • {{ video.uploaded_at }}</p>
                        </div>
                    </div>
                </a>

                {% empty %}
                <p class="text-gray-500 col-span-full">You haven't uploaded any videos yet.</p>
                <div class="pt-4">
                    <a href="{% url 'content:create_video' %}"
                        class="w-full bg-red-600 text-white py-2 rounded hover:bg-red-700 transition">
                        Create Video
                    </a>
                </div>
                {% endfor %}
            </div>
        </section>

    </main>
</div>

<!-- Script -->
<script src="{% static 'js/channel/profile.js' %}"></script>
{% endblock %}